{% extends 'base/base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <!-- Add background image to card -->
        <img src="https://images.pexels.com/photos/1051077/pexels-photo-1051077.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img" alt="GIS Map Background" style="background-size: cover; height: 100%; width: 100%;">

        <div class="card-img-overlay d-flex justify-content-center align-items-center">
          <form method="post" action="{% url 'dashboard' %}" class="form" style="background-color: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 10px; color: white; text-align: center;">
            <h2 class="text-white mb-4"><b>Password Changed Successfully</b></h2>
            <p>Your password has been changed successfully. Please use your new password to log in.</p>
          <p>If you're done with changed Password, please <a href="{% url 'dashboard' %}" style="color: yellow;"><b>go to Dashboard</b></a>.</p>

          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
