{% extends 'base/base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <!-- Add background image to card -->
          <img src="https://images.pexels.com/photos/1051077/pexels-photo-1051077.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img" alt="GIS Map Background" style="opacity: 2.6;">

          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <form method="post" class="form" style="background-color: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 10px; color: white;">
              <h2 class="text-white mb-2"><b>Change Password</b></h2>
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn" style="background-color: #000; color: #fff; border: 1px solid #ccc;margin-left:100px;">Change Password</button>

              <!-- Add the button to redirect to the login page inside the form with margin -->
              <a href="{% url 'dashboard' %}" class="btn" style="background-color: #000; color: #fff; border: 1px solid #ccc;">Go to dashboard</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}




