{% extends 'base/base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <!-- Add background image to card -->
        <img src="https://images.pexels.com/photos/1051077/pexels-photo-1051077.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img" alt="GIS Map Background" style="background-size: cover; height: 100%; width: 100%;">

        <div class="card-img-overlay d-flex justify-content-center align-items-center">
          <form method="post" action="{% url 'grant_validation' %}" class="form" style="background-color: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 10px; color: white; text-align: center;">
            <h2 class="text-white mb-4"><b>Grant privileges validation</b></h2>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
              {{ form.database.label_tag }}
              {{ form.database }}
            </div>

            <div class="form-group">
              {{ form.schema.label_tag }}
              {{ form.schema }}
            </div>

            <div class="form-group">
              {{ form.table.label_tag }}
              {{ form.table }}
            </div>

            <div class="form-group">
              {{ form.columns.label_tag }}
              <input list="column_list" name="columns" class="columns-input" autocomplete="off">
              <datalist id="column_list">
                {% for column in all_columns %}
                  <option value="{{ column }}">
                {% endfor %}
              </datalist>
            </div>

            <div class="form-group">
              {{ form.privilege_function_validation.label_tag }}
              {{ form.privilege_function_validation }}
            </div>

            <button type="submit" class="btn" style="background-color: #000; color: #fff; border: 1px solid #ccc;">Validate Privileges</button> <br> <br>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function () {
      // Attach a change event listener to the 'database' dropdown
      $('#id_database').change(function () {
        var selectedDatabaseId = $(this).val();

        // Make an AJAX request to fetch schemas based on the selected database
        $.ajax({
          url: '{% url "get_schemas_for_database" %}',
          data: { 'database_id': selectedDatabaseId },
          dataType: 'json',
          success: function (data) {
            // Clear existing options and add new options to the 'schema' dropdown
            var schemaDropdown = $('#id_schema');
            schemaDropdown.empty();
            $.each(data.schemas, function (index, schema) {
              schemaDropdown.append($('<option>', {
                value: schema.id,
                text: schema.name
              }));

              // Clear the 'table' dropdown when the 'schema' changes
              $('#id_table').empty();
              // Clear the 'columns' dropdown when the 'table' changes
              $('#id_columns').empty();
            });
          }
        });
      });

      // Attach a change event listener to the 'schema' dropdown
      $('#id_schema').change(function () {
        var selectedSchemaId = $(this).val();

        // Make an AJAX request to fetch tables based on the selected schema
        $.ajax({
          url: '{% url "get_tables_for_schema" %}',
          data: { 'schema_id': selectedSchemaId },
          dataType: 'json',
          success: function (data) {
            // Clear existing options and add new options to the 'table' dropdown
            var tableDropdown = $('#id_table');
            tableDropdown.empty();
            $.each(data.tables, function (index, table) {
              tableDropdown.append($('<option>', {
                value: table.id,
                text: table.name
              }));

              // Clear the 'columns' dropdown when the 'table' changes
              $('#id_columns').empty();
            });
          }
        });
      });

      // Attach a change event listener to the 'table' dropdown
      $('#id_table').change(function () {
        var selectedTableId = $(this).val();

        // Make an AJAX request to fetch columns based on the selected table
        $.ajax({
          url: '{% url "get_columns_for_table" %}',
          data: { 'table_id': selectedTableId },
          dataType: 'json',
          success: function (data) {
            // Clear existing options and add new options to the 'columns' dropdown
            var columnsDropdown = $('#id_columns');
            columnsDropdown.empty();

            // Iterate through the list of columns and add each column as a separate option
            data.columns.forEach(function (column) {
              columnsDropdown.append($('<option>', {
                value: column,
                text: column
              }));
            });
          }
        });
      });
    });
  </script>
{% endblock %}
